.login-page{
  display: flex;
  height: 100vh;
  background-color: antiquewhite;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}



// .containerOne h1{
//   color: white;
//   font-size: 50px;
//   margin-bottom: 100px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }

// .App{
//   display: flex;
//   font-family: 'Montserrat', sans-serif;
//   height: 100%;
  
// }


  
// }

// .logo2{
//   width: 60px;
//   height: 120px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
// }





// .containerLogin{
//   display: flex;
//   flex-direction: column;
// }

// .containerLogin input{
//   font-family: 'Montserrat', sans-serif;
//   font-size: 15px;
//   color: #44007F;
//   border: 1px solid rgba(108, 31, 155, 0.32);
//   border-radius: 3px;
//   padding: 3px;
//   max-width: 500px;
//   height: 35px;
// }

// .containerLogin input:active, .containerLogin input:focus{
//   border: 1px solid #44007F;
//   outline: none;
// }

// .containerLogin button{
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   background-image: linear-gradient(141.69deg, #44007F 28.12%, #6A0AA5 50%, #8008C9 70.83%, #9A2ADF 90.62%);
//   color: #FFFFFF;
//   font-family: 'Montserrat', sans-serif;
//   font-weight: bold;
//   font-size: 25px;
//   border: 0;
//   border-radius: 3px;
//   width: 250px;
//   height: 50px;
//   margin-top: 50px;
//   cursor: pointer;
// }

// .containerLogin p{
//   /*align-self: center;*/
//   color: #6A0AA5;
//   font-size: 20px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }

// .containerLogin a{
//   font-weight: bold;
//   text-decoration: none;
// }
// .containerLogin a:active{
//   color: #8008C9;

// }

// .containerLogin label{
//   font-size: 20px;
//   color: #44007F;
//   margin-top: 20px;
//   margin-bottom: 10px;
// }

// .login-title{
//   margin-top: 150px;
//   color: #44007F;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }

// .login-subtitle{
//   margin-top: -10px;
//   color: #5C0697;

// }

// @media screen and (max-width: 700px){

//   body{
//     text-align: center;
//   }

//   .App{
//     display: block;
    
//   }

//   .containerOne{
//     text-align: center;
//     padding: 40px;
//     width: 100%;
//     height:10%;
//   }
//   .logo2{
//     visibility: hidden;
//   }
//   .image-background{
//     visibility: hidden;
//   }
//   .containerTwo{
//     padding: 40px;
//     margin: 0;
//     width: 100%;
//     text-align: center;
//   }

//   .containerLogin{
//     padding: 0;
//     margin: 0;
//     text-align: center;
//     display: flex;
//   }

//   .login-title{
//     margin-top: 0;
//   }


// }

// // .App-logo {
// //   height: 40vmin;
// //   pointer-events: none;
// // }

// // @media (prefers-reduced-motion: no-preference) {
// //   .App-logo {
// //     animation: App-logo-spin infinite 20s linear;
// //   }
// // }

// // .App-header {
// //   background-color: #282c34;
// //   min-height: 100vh;
// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   justify-content: center;
// //   font-size: calc(10px + 2vmin);
// //   color: white;
// // }

// // .App-link {
// //   color: #61dafb;
// // }

// // @keyframes App-logo-spin {
// //   from {
// //     transform: rotate(0deg);
// //   }
// //   to {
// //     transform: rotate(360deg);
// //   }
// // }
