.container-apresentation{
    background-image: linear-gradient(141.69deg, #44007F 28.12%, #6A0AA5 50%, #8008C9 70.83%, #9A2ADF 90.62%);
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 20px;

    .logo-apresentation{
      width: 60px;
      height: 120px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .title-apresentation{
      color: white;
      font-size: 40px;
      margin-bottom: 100px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .image-background{
      max-width: 75%;
    }

    .footer-apresentation{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: -20px;

      .footer-title{
        color: white;
        font-size: 15px;
        margin-right: 5px;
      }
    }
    
  }