.container-avatar{

    .avatar{
        width: 200px;
        position: relative;
        border-radius: 75px;
        z-index: 1;
        animation: morph 5s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transition: all 1s ease-in-out;

        
    }
    
    .blob {
        position: absolute;
        top: 16%;
        left: 48%;
        width: 220px;
        height: 220px;
        transform: translate(-50%,-50%);
        animation: morph 5s ease-in-out infinite 3s;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transition: all 1s ease-in-out;
        background: linear-gradient(141.69deg, #6A0AA5 28.12%, #44007F 50%, #9A2ADF 70.83%, #8008C9 90.62%);

        
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        // background: linear-gradient(141.69deg, #6A0AA5 28.12%, #44007F 50%, #9A2ADF 70.83%, #8008C9 90.62%);

    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        // background: linear-gradient(141.69deg, #44007F 28.12%, #6A0AA5 50%, #8008C9 70.83%, #9A2ADF 90.62%);

    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        // background: linear-gradient(141.69deg, #8008C9 28.12%, #9A2ADF 50%, #6A0AA5 70.83%, #44007F 90.62%);

    }
}