/*Montserrat Regular*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  
}

.containerOne{
  font-weight: bold;
  background-image: linear-gradient(141.69deg, #44007F 28.12%, #6A0AA5 50%, #8008C9 70.83%, #9A2ADF 90.62%);
  width: 50%;
  height: 95vh;
  padding: 40px ;
  
}

.containerOne h1{
  color: white;
  font-size: 50px;
  margin-bottom: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo1{
  width: 60px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}

.logo2{
  width: 60px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}

.image-background{
  max-width: 100%;
}

.containerTwo{
  background-color: #FFFFFF;
  width: 50%;
  height: 100vh;
  padding: 40px;
  text-align: left;
}

.containerLogin{
  display: flex;
  flex-direction: column;
}

.containerLogin input{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #44007F;
  border: 1px solid rgba(108, 31, 155, 0.32);
  border-radius: 3px;
  padding: 3px;
  max-width: 500px;
  height: 35px;
}

.containerLogin input:active, .containerLogin input:focus{
  border: 1px solid #44007F;
  outline: none;
}

.containerLogin button{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(141.69deg, #44007F 28.12%, #6A0AA5 50%, #8008C9 70.83%, #9A2ADF 90.62%);
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  border: 0;
  border-radius: 3px;
  min-width: 250px;
  height: 50px;
  align-self: center;
  margin-top: 50px;
  cursor: pointer;
}

.containerLogin p{
  /*align-self: center;*/
  color: #6A0AA5;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.containerLogin a{
  font-weight: bold;
  text-decoration: none;
}
.containerLogin a:active{
  color: #8008C9;

}

.containerLogin label{
  font-size: 20px;
  color: #44007F;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-title{
  margin-top: 150px;
  color: #44007F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-subtitle{
  margin-top: -10px;
  color: #5C0697;

}

@media (max-width: 700px){

  .App{
    display: block;
    
  }

  .containerOne{
    text-align: center;
    padding: 40px;
    width: 100%;
    height:30vh;
  }
  .logo2{
    visibility: hidden;
  }
  .image-background{
    visibility: hidden;
  }
  .containerTwo{
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .containerLogin{
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .login-title{
    margin-top: 0;
  }


}